@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');

html, body {
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0px;
}


/*---BASE---*/

.stroke {
    width: 550px;
    height: 550px;
    border-radius: 330px;
    margin: auto;
    position: absolute;
}


/*---home-page---*/

.home {
    /*display: none;*/
    height: 100%;
    position: relative;
    width: 100%;
    background: url('../resourses/base/menu.jpg') center no-repeat fixed;
    top: 0px;
    left: 0px;
    background-size: cover;
}

.menu {
    width: 30%;
    height: 40%;
    top: 60%;
    left: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
}

div .logo#home {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3%;
}

div .icon#home {
    margin: auto;
    background: url('../resourses/base/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 25%;
    height: 100%;
}

.stroke#home {
    background: linear-gradient(180deg, rgba(185, 76, 237, 0.2) 16.19%, rgba(111, 18, 155, 0.192) 50.47%, rgba(181, 85, 227, 0.192) 86.04%);
    filter: blur(6px);
    height: 100%;
    width: 25%;
}

/*-buttons-*/

.button-start {
    background: url('../resourses/buttons/home/start/button-start-inactively.svg');
    position: absolute;
    width: 65%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

    .button-start:active {
        background: url('../resourses/buttons/home/start/button-start-actively.svg');
        border-width: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .button-start:hover {
        background: url('../resourses/buttons/home/start/button-start-actively.svg');
        border-width: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

/*---hall-page---*/
.hall_screen {
    display: none;
    height: 100%;
    width: 100%;
    background: url('../resourses/base/game.jpg') center no-repeat fixed;
    background-size: cover;
    align-items: center;
}

.hall_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 100%;
}

.diagram {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 30%;
    height: 60%;
    background: rgba(255, 255,255, 0.7);
    border-radius: 10px;
    font-family: Arial;
    font-style: italic;
    font-weight: 600;
    font-size: unset;
    padding: 1% 1% 1% 1%;
    line-height: 100%;
    border: 2px black solid;
}

.bar {
    border: 2px black solid;
    display: flex;
    position: relative;
    background: #903fa8;
    height: 0%;
    width: 15%;
    justify-content: center;
    align-items: flex-end;
}

.hall_text {
    width: 30%;
    height: 5%;
    background: rgba(255, 255,255, 0.7);
    border-radius: 10px;
    font-family: Arial;
    font-style: italic;
    font-weight: 600;
    font-size: unset;
    padding: 1% 1% 1% 1%;
    line-height: 100%;
    text-align: center;
}

.button-skip2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}


.but-skip2 {
    background: url('../resourses/game/call/continue-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

.but-skip2:active {
    background-image: url('../resourses/game/call/continue-actively.svg');
    background-size: cover;
    border-width: 0;
}

.but-skip2:hover {
    background-image: url('../resourses/game/call/continue-actively.svg');
    background-size: cover;
    border-width: 0;
}


/*---call-page---*/

.call_screen {
    display: none;
    height: 100%;
    width: 100%;
    background: url('../resourses/base/game.jpg') center no-repeat fixed;
    background-size: cover;
}

.call_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 100%;
}

.call_text {
    width: 30%;
    height: 20%;
    background: rgba(255, 255,255, 0.7);
    border-radius: 10px;
    font-family: Arial;
    font-style: italic;
    font-weight: 600;
    font-size: unset;
    padding: 1% 1% 1% 1%;
    line-height: 100%;
    text-align: center;
}

.button-skip {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}


.but-skip {
    background: url('../resourses/game/call/continue-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

.but-skip:active {
    background-image: url('../resourses/game/call/continue-actively.svg');
    background-size: cover;
    border-width: 0;
}

.but-skip:hover {
    background-image: url('../resourses/game/call/continue-actively.svg');
    background-size: cover;
    border-width: 0;
}

/*---game-page---*/

.game {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    background: url('../resourses/base/game.jpg') center no-repeat fixed;
    top: 0px;
    left: 0px;
    background-size: cover;
}

/*-divs-*/

div .state {
    width: 98%;
    height: 10%;
    padding: 1%;
    position: relative;
    display: flex;
}

div .time {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

div .back-time {
    background-image: url('../resourses/buttons/game/time/backTime.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 140%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

div .points {
    height: 100%;
    width: 50%;
    position: relative;
}

div .question-answers {
    width: 100%;
    height: 65%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

div .question-field {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .question {
    background: url('../resourses/game/question.svg') center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    -webkit-text-stroke: 1px rgba(181, 85, 227, 0.192);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .question-text {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .answers {
    top: 10%;
    height: 40%;
    position: relative;
}

div .answer-table {
    height: 100%;
    width: 75%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

div .answer-column {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div .answer-field {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

div .menu-game {
    display: inline-flex;
    width: 75%;
    height: 10%;
    top: 5%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 11.5%;
}

div .answer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/*-tables-*/
table#points-table {
    float: right;
    padding-right: 30px;
}

table#points-table td {
    padding: 5px;
}


ul {
    height: 100%;
    width: 98%;
    position: relative;
}


ul#menu-table li {
    margin-left: 20px;
    display: inline-flex;
}

.hints-table {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.hints-table li{
    display: flex;
    margin-right: 20px;
}

/*-texts-*/
p {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 600;
    font-size: 2vw;
    line-height: 103%;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}

    p.unvanish-sum {
        color: #FFF768;
        -webkit-text-stroke: 1px rgba(111, 18, 155, 0.192);
    }

    p.current-sum {
        color: #FFFFFF;
        -webkit-text-stroke: 1px rgba(111, 18, 155, 0.192);
    }

    .question-line {
        color: #000000;
        -webkit-text-stroke: 1px rgba(181, 85, 227, 0.192);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

span {
    color: #000000;
    -webkit-text-stroke: 1px rgba(181, 85, 227, 0.192);
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 600;
    font-size: 2vw;
}

span.time-line {
    color: red;
    -webkit-text-stroke: 1px rgba(111, 18, 155, 0.192);
    font-size: 4vw;
}

    .idAnswer {
        justify-content: left;
        margin-left: unset;
        margin-right: unset;
        font-size: 2vw;
    }

/*-buttons-*/
.test {
    background: url('../resourses/buttons/game/answer/answer-right.png');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 75%;
    border-width: 0px;
    padding: 5px;
}

.button-answer {
    background: url('../resourses/buttons/game/answer/answer-inactively.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 40%;
    border-width: 0px;
    padding: 5px;
}

    .button-answer:active {
        background: url('../resourses/buttons/game/answer/answer-actively.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .button-answer:hover {
        background: url('../resourses/buttons/game/answer/answer-actively.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .buttom-answer:disabled {
        background: url('../resourses/buttons/game/answer/answer-disabled.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

.button-exit {
    background: url('../resourses/buttons/game/back/back-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

    .button-exit:active {
        background-image: url('../resourses/buttons/game/back/back-actively.svg');
        background-size: cover;
        border-width: 0;
    }

    .button-exit:hover {
        background-image: url('../resourses/buttons/game/back/back-actively.svg');
        background-size: cover;
        border-width: 0;
    }

.button-restart {
    background: url('../resourses/buttons/game/restart/restart-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

    .button-restart:active {
        background-image: url('../resourses/buttons/game/restart/restart-actively.svg');
        background-size: cover;
        border-width: 0;
    }

    .button-restart:hover {
        background-image: url('../resourses/buttons/game/restart/restart-actively.svg');
        background-size: cover;
        border-width: 0;
    }

.fifty{
    background: url('../resourses/buttons/game/hints/fifty/fifty-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}


    .fifty_hover {
        background-image: url('../resourses/buttons/game/hints/fifty/fify-actively.svg');
        background-size: cover;
        border-width: 0;
    }

    .fifty_used{
        background-image: url('../resourses/buttons/game/hints/fifty/fifty-used.svg');
    }

.call{
    background: url('../resourses/buttons/game/hints/call/call-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

    .call_hover {
        background-image: url('../resourses/buttons/game/hints/call/call-actively.svg');
        background-size: cover;
        border-width: 0px;
    }

    .call_used{
         background-image: url('../resourses/buttons/game/hints/call/call-used.svg');
     }

.hall{
    background: url('../resourses/buttons/game/hints/hall/hall-inactively.svg');
    background-size: cover;
    border-width: 0;
    position: relative;
    width: 100px;
    height: 100px;
}

    .hall_hover {
        background-image: url('../resourses/buttons/game/hints/hall/hall-actively.svg');
        background-size: cover;
        border-width: 0;
    }

    .hall_used{
        background-image: url('../resourses/buttons/game/hints/hall/hall-used.svg');
    }


/*---score-page---*/

.score{
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
    background: url('../resourses/base/game.jpg') center no-repeat fixed;
    top: 0px;
    left: 0px;
    background-size: cover;
}

.score-table{
    color: white;
    font-size: 210%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border-collapse: collapse;
}

.score-table td{
    width: 30%;
}

.score-table .first-td{
    text-align: center;
    font-family: "Oxanium";
}

.score-table .second-td{
    text-align: left;
    font-size: 70%;
}

.score-table .third-td{
    text-align: right;
    font-family: "Oxanium";
}

.score-table .non-combustible-score{
    color: #FF9753;
}
